<!-- Default home page -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #333333;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #B71F37; font-family: 'Courgette'; font-size: 22px;">Socialeasier</a>
    </div>
    <div class="navbar-collapse collapse" style="font-size: 12px;">
      <ul class="nav navbar-nav">
        <li><a href="#about">COMO FUNCIONA</a></li>
        <li><a href="#contact">CONTATO</a></li>
        <li><a href="#contact">SEJA UM PARCEIRO</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="20" class="img-circle" /> RAPHAEL CAVALCANTI</a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="20" class="img-circle" /> Raphael Cavalcanti</a>
            </li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Editar meu perfil</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Outras salas</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Saír</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 conversation">
      <ul class="list-unstyled">
        <li>
          <img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="50" class="img-circle" />
          <div class="info-block">
            <h4>Raphael Cavalcanti</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
        <li>
          <img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="50" class="img-circle" />
          <div class="info-block">
            <h4>Raphael Cavalcanti</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Usuários</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>Fulano de tal</li>
            <li>Ciclano de tal</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bottom-chat center-block">
  <div class="row">
    <div class="col-md-12 hidden-xs hidden-sm">
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-lg btn-block">Enviar</button>
        </div>
      </form>
    </div>
    <div class="col-md-12 hidden-md hidden-lg">
      <form role="form">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Enviar</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<script></script>