<div ng-app="chatApp">
  <div class="navbar navbar-inverse navbar-fixed-top header" role="navigation" style="background-color: #333333;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color: #B71F37; font-family: 'Courgette'; font-size: 22px;">Socialeasier</a>
      </div>
      <div class="navbar-collapse collapse" style="font-size: 12px;">
        <ul class="nav navbar-nav">
          <li><a href="/#/about">COMO FUNCIONA</a></li>
          <li><a href="/#/contact">CONTATO</a></li>
          <li><a href="/#/contact">SEJA UM PARCEIRO</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="20" class="img-circle" /> RAPHAEL CAVALCANTI</a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="20" class="img-circle" /> Raphael Cavalcanti</a>
              </li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Editar meu perfil</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-comment"></span> Outras salas</a></li>
              <li class="divider"></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Saír</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>