<nav class="side-bar">
    <ul>
        <li><a href=""><i class="icon"></i></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <a href="#" class="btn btn-default">Entrar</a href="#">
</nav>
<div class="content">
	<div class="inner-content">
		<h1>
			<img src="/images/socialeasier-logo.png" alt="Socialeasier">
		</h1>
	</div>
</div>