<nav class="side-bar">
    <!-- <ul>
        <li><a href=""><i class="icon"></i></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul> -->
    <input class="form-group" type="text" name="username" placeholder="Enter with a name">
    <a href="#" class="btn btn-default form-group">Entrar</a href="#">
</nav>
<div class="content">
	<div class="inner-content">
		<h1>
			<img src="/images/socialeasier-logo.png" alt="Socialeasier">
		</h1>
		<div>
			<ul class="messages">
				<li>
					<img src="http://www.austadpro.com/blog/wp-content/uploads/2011/07/anonymous-user-gravatar.png" alt="">
					<p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati maiores nulla amet accusamus, at pariatur porro nostrum fuga voluptatem, aperiam veniam deleniti doloribus animi recusandae tempora quia vero explicabo!</p>
					<span class="info">Raphael - 10:00</span>
				</li>
				<li class="me">
					<img src="http://www.austadpro.com/blog/wp-content/uploads/2011/07/anonymous-user-gravatar.png" alt="">
					<p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati maiores nulla amet accusamus, at pariatur porro nostrum fuga voluptatem, aperiam veniam deleniti doloribus animi recusandae tempora quia vero explicabo!</p>
					<span class="info">Raphael - 10:00</span>
				</li>
			</ul>
		</div>
	</div>
	<footer>
		<div class="msg-box">
			<form action="">
				<input type="text" name="msg">
			</form>
		</div>
	</footer>
</div>