<!DOCTYPE html>
<html>
  <head>
    <title>Social Easier</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!-- HANDLEBARS TEMPLATES -->

    <!-- LOGIN TPL -->
    <script id="login-tpl" type="text/x-handlebars-template">
        <form id="form-login">
            <input class="form-group" type="text" name="username" placeholder="Enter with a name">
            <a href="#" id="btn-login" class="btn btn-default form-group">Sign in</a>
        </form>
    </script>
    <!-- LOGIN TPL END -->

    <!-- USER OPTIONS TPL -->
    <script id="user-options-tpl" type="text/x-handlebars-template">
        <ul>
            <li>
                <a href="#/config"><i class="fa fa-cog"></i> Configurations</a>
            </li>
            <li>
                <a href="#/private-rooms"><i class="fa fa-lock"></i> Private rooms</a>
            </li>
        </ul>
        <a href="#/logout" id="" class="btn btn-default form-group">Sign out</a> 
    </script>
    <!-- USER OPTIONS TPL END -->

    <!-- MESSAGES TPL -->
    <script id="messages-tpl" type="text/x-handlebars-template">
        <ul class="messages">
            <li>
                <img src="http://www.austadpro.com/blog/wp-content/uploads/2011/07/anonymous-user-gravatar.png" alt="">
                <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati maiores nulla amet accusamus, at pariatur porro nostrum fuga voluptatem, aperiam veniam deleniti doloribus animi recusandae tempora quia vero explicabo!</p>
                <span class="info">Raphael - 10:00</span>
            </li>
            <li class="me">
                <img src="http://www.austadpro.com/blog/wp-content/uploads/2011/07/anonymous-user-gravatar.png" alt="">
                <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto obcaecati maiores nulla amet accusamus, at pariatur porro nostrum fuga voluptatem, aperiam veniam deleniti doloribus animi recusandae tempora quia vero explicabo!</p>
                <span class="info">Raphael - 10:00</span>
            </li>
        </ul>
    </script>
    <!-- MESSAGES TPL END -->

    <!-- INFO ROOM TPL -->
    <script id="info-room-tpl" type="text/x-handlebars-template">
        <div class="info-room">
            <p>In the moment there is no users logged in.</p>
            <p>Be the first!</p>
        </div>
    </script>
    <!-- INFO ROOM TPL END -->
    <!-- HANDLEBARS TEMPLATES END -->
  </head>
  <body class="">
    <%- body %>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="/vendor/handlebars/handlebars.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/AppBootstrap.js"></script>
    <script src="/js/components/AppController.js"></script>
    <script src="/js/components/AppModel.js"></script>
    <script src="/js/components/AppRouter.js"></script>
    <script src="/js/components/HbsWidget.js"></script>
    <script src="/js/config/routes.js"></script>
    <script src="/js/controllers/ChatController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
