<div class="container">
    <div class="row">
      <div class="col-md-9 conversation">
        <ul class="list-unstyled">
          <li ng-repeat="talk in talks">
            <img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="Fulano de Tal" width="50" class="img-circle" />
            <div class="info-block">
              <h4><a href="">Raphael Cavalcanti</a></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Usuários</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled list-users">
              <li ng-repeat="user in users"><a href=""><img src="https://avatars2.githubusercontent.com/u/348214?s=460" alt="" width="20" class="img-circle" /> Raphael Cavalcanti</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container bottom-chat center-block">
    <div class="row">
      <div class="col-md-12 hidden-xs hidden-sm">
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg btn-block">Enviar</button>
          </div>
        </form>
      </div>
      <div class="col-md-12 hidden-md hidden-lg">
        <form role="form">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Enviar</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>