<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
	  <a href="javascript:;" class="en dropdown-toggle" data-toggle="dropdown"><img src="{{imgPath}}" alt="English" width="20" class="img-circle" /> {{label}}</a>
	  <ul class="dropdown-menu" role="menu">
	  	<li>
	      <a href="javascript:;" class="en dropdown-toggle" data-toggle="dropdown" ng-click="change('en')"><img src="http://static3.worldcrunch.com/images/flags/United_States_of_America.png" alt="English" width="20" class="img-circle" /> {{'lbEnglish' | translate}}</a>
	    </li>
	    <li>
	      <a href="javascript:;" class="pt dropdown-toggle" data-toggle="dropdown" ng-click="change('pt')"><img src="http://pbs.twimg.com/profile_images/1896724890/flag-of-brazil-md.png" alt="Portuguese" width="20" height="20" class="img-circle" /> {{'lbPortuguese' | translate}}</a>
	    </li>
	  </ul>
	</li>
</ul>