<div class="container">
    <div class="jumbotron" style="background: url('http://nasilemaktech.files.wordpress.com/2013/07/galaxy-s4-lifestyle-image_group-play.jpg') -346px -508px">
        <h1 class="txt-shadow">Um chat para quebrar o gelo!</h1>
        <p class="txt-shadow">Converse fácilmente com pessoas ao seu redor, usando o socialesier você vai se conectar de maneira muito simples em um grupo de chat, podendo conversar a vontade com as pessoas conectadas na mesma rede que você!</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Saiba mais »</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Comece a usar agora mesmo</h3>
              </div>
              <div class="panel-body">
                <p>Existe um grupo na sua rede, interaja com eles agora mesmo!</p>
                <button class="btn btn-primary">Entrar agora »</button>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Comece a usar agora mesmo</h3>
              </div>
              <div class="panel-body">
                <p>Existe um grupo na sua rede, interaja com eles agora mesmo!</p>
                <button class="btn btn-primary">Entrar agora »</button>
              </div>
            </div>
        </div>
        <div class="col-md-4">
           <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Comece a usar agora mesmo</h3>
              </div>
              <div class="panel-body">
                <p>Existe um grupo na sua rede, interaja com eles agora mesmo!</p>
                <button class="btn btn-primary">Entrar agora »</button>
              </div>
            </div>
        </div>
    </div>
</div>