<!-- Default home page -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #333333;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #B71F37; font-family: 'Courgette'; font-size: 22px;">Socialeasier</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="font-size: 12px;">
        <li><a href="#about">COMO FUNCIONA</a></li>
        <li><a href="#contact">CONTATO</a></li>
        <li><a href="#contact">SEJA UM PARCEIRO</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<div class="container">
    <div class="jumbotron" style="background: url('/images/socialeasier.png') -55px -188px;">
        <h1 class="txt-shadow">Lorem Ipsum!</h1>
        <p class="txt-shadow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perferendis, debitis id repellendus aliquid tempora incidunt dignissimos exercitationem expedita cum enim amet veniam quis, adipisci suscipit, voluptas minima. Saepe, quia.</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Saiba mais »</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor sit amet.</h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="/chat" class="btn btn-primary">Entrar agora »</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor sit amet.</h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="/chat" class="btn btn-primary">Entrar agora »</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
           <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Lorem ipsum dolor sit amet.</h3>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="/chat" class="btn btn-primary">Entrar agora »</a>
              </div>
            </div>
        </div>
    </div>
</div>
