<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>{{'lbContactUs' | translate }}</h3>
        <p>{{ 'lbContactMessage' | translate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <label for="contact-form-email">{{'lbYourName' | translate}}</label>
            <input id="contact-form-email" type="name" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="contact-form-email">{{'lbYourEmail' | translate}}</label>
            <input id="contact-form-email" type="email" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="contact-form-message">{{'lbMessage' | translate}}</label>
            <textarea name="" id="contact-form-message" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">{{'lbSubmit' | translate}}</button>
        </form>
      </div>
    </div>
</div>